.contacto {
    font-size: 20px;
    margin: 0px;

    h3 {
        font-size: 30px;
        font-style: italic;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    form {
        label {
            display: block;
        }

        input {
            margin-bottom: 20px;
        }
    }

    .contactoCartel {
        @extend .contacto;
        font-size: 30px;
        font-style: oblique;
        color: darkslategrey;
        padding: center;
        border: double 3px rgb(90, 165, 159);
        text-align: center;
    }
}