* {
  margin: 0;
  padding: 0; }

.row {
  --bs-gutter-x: 0; }

body {
  background-image: url(../imagenes/fondopagina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; }
  body .container-fluid {
    margin: 0;
    padding: 0; }

nav div .menuLetras {
  display: flex;
  justify-content: space-around;
  background-color: darkgray;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  color: white;
  margin: 10px; }

@keyframes enviosAnime {
  0% {
    background-color: #5aa59f; }
  20% {
    background-color: #78c2bc; }
  40% {
    background-color: #96d4cf; }
  60% {
    background-color: #bcf3ee; }
  80% {
    background-color: #96d4cf; }
  100% {
    background-color: #78c2bc; } }

.envios {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  animation-name: enviosAnime;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 3px dotted black;
  /*margin: 40px 0px;*/
  position: center;
  text-align: center; }
  .envios h4 {
    font-weight: bold;
    font-size: 50px;
    margin: 30px 0px;
    color: white; }
  .envios p {
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: black; }

.footer {
  background-color: #111111;
  border: 2px solid black;
  height: 30vh;
  font-size: 18px; }
  .footer div {
    color: white; }
    .footer div a {
      text-decoration: none;
      color: white;
      text-align: center;
      width: 200px;
      height: 30px;
      margin: 10px; }
    .footer div h3 {
      text-align: initial;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 20px; }
    .footer div ul {
      list-style-type: none; }
      .footer div ul li {
        display: block;
        text-decoration: none;
        color: white;
        position: relative; }

.piePagina {
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center; }

main div div .destacadosLetra {
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem; }

main div .imgCarrusel {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 2rem 0; }
  main div .imgCarrusel img {
    height: 35rem; }

article div h3 {
  color: darkcyan;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
  text-shadow: 1px 1px grey; }

.imgChuli {
  width: 200px;
  margin-top: 5px;
  transition: all 3s;
  filter: grayscale(100%); }
  .imgChuli:hover {
    width: 300px;
    filter: none; }

aside .parrafoChuli {
  color: darkcyan;
  border: 1px dotted black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
  margin: 25px 15px; }

aside .parrafoDestacado {
  text-shadow: 1px 1px grey;
  font-size: 20px; }

aside mark {
  color: darkcyan;
  background-color: rgba(73, 71, 71, 0.25); }

section .textoCatalogo {
  font-family: fantasy;
  font-size: 50px;
  text-align: center;
  margin: 50px 0; }

section ul {
  padding: 0; }
  section ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin: 40px 5px 20px 5px;
    list-style: circle;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
  section ul img {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px dotted coral; }

.contacto, .contacto .contactoCartel {
  font-size: 20px;
  margin: 0px; }
  .contacto div, .contacto .contactoCartel div {
    text-align: center;
    align-self: center; }
    .contacto div iframe, .contacto .contactoCartel div iframe {
      border: double 3px #5aa59f;
      background-color: white;
      padding: 7px; }
  .contacto h3, .contacto .contactoCartel h3 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 50px; }
  .contacto form label, .contacto .contactoCartel form label {
    display: block; }
  .contacto form input, .contacto .contactoCartel form input {
    margin-bottom: 20px; }
  .contacto .contactoCartel {
    font-size: 30px;
    font-style: oblique;
    color: darkslategrey;
    padding: center;
    border: double 3px #5aa59f;
    text-align: center; }

@media screen and (max-width: 991px) {
  .footer {
    height: 50vh;
    font-size: 18px; }
  article div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    article div .imgChuli {
      width: 300px;
      margin-top: 5px;
      transition: none;
      filter: none; }
      article div .imgChuli:hover {
        width: 300px;
        filter: none; }
  .contacto div iframe, .contacto .contactoCartel div iframe {
    width: 300px;
    height: 200px; } }

@media screen and (max-width: 768px) {
  article aside .parrafoChuli {
    font-size: 17px; }
  main div .imgCarrusel img {
    height: 25rem; }
  main div .destacados .destacadosLetra {
    font-size: 75px; }
  .envios h4 {
    font-weight: bold;
    font-size: 40px;
    margin: 30px 0px;
    color: white; }
  .envios p {
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
    color: black; }
  section ul img {
    width: 250px;
    height: 250px;
    padding: 10px; }
  .contacto, .contacto .contactoCartel {
    font-size: 20px; }
  .footer {
    height: 60vh;
    font-size: 15px; }
    .footer div h3 {
      font-size: 17px; } }

@media screen and (max-width: 576px) {
  article aside .parrafoChuli {
    font-size: 15px; }
  main div .imgCarrusel img {
    height: 15rem; }
  main div .destacados .destacadosLetra {
    font-size: 50px; }
  .envios h4 {
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0px;
    color: white; }
  .envios p {
    font-weight: bold;
    font-size: 10px;
    font-family: cursive;
    color: black; }
  section ul img {
    display: flex;
    flex-direction: row; }
  .contacto, .contacto .contactoCartel {
    font-size: 15px; }
    .contacto .contactoCartel {
      font-size: 15px; }
  .footer {
    height: 70vh; }
    .footer div h3 {
      font-size: 15px; }
  .piePagina {
    font-size: 11px; } }

@media screen and (max-height: 400px) {
  .footer {
    height: 80vh; } }
